:root {
  --primary: #d3766a;
  --secondary: #a39391;
  --background: #2f2c2b;
  --section-bg: #3b3836;
  --text-main: #efe9e4;
  --text-muted: #b7ada7;
  --border: #4a4644;
  --highlight: #78866b;
}

body {
  margin: 0;
  color: var(--text-main);
  font-family: "Inter";
  background-color: var(--background);
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}

nav a {
  color: var(--text-muted);
  text-decoration: none;
  margin-left: 25px;
  font-weight: bold;
  font-size: 20px;
  transition: color 0.7s ease, transform 0.8s ease;
}

nav a:hover {
  color: var(--highlight);
  transform: translateY(-2px);
}

#home {
  height: 100vh;
  background-image: url("assets/home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-content {
  position: relative;
  opacity: 0;
  animation: fadeInUp 2s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-content h1 {
  font-family: "Noto Serif";
  margin-top: 30px;
  font-size: 80px;
  margin-bottom: 0;
}

.home-content p {
  font-weight: lighter;
  font-size: 20px;
}

.profile {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--highlight);
}

.home-content button {
  background-color: var(--primary);
  border-radius: 5px;
  font-size: 15px;
  padding: 13px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.7s ease;
  color: var(--text-main);
}

.home-content button:hover {
  background-color: var(--text-muted);
}

.arrow {
  font-size: 25px;
  color: var(--highlight);
  animation: bounce 2s infinite;
}

/* down arrow bounce */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}

#about {
  margin-top: 0;
  padding: 0px 0px;
  padding-bottom: 80px;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-main);
}

/* Main box container */
.about-box {
  border-radius: 30px;
  padding: 60px 40px;
  max-width: 1500px;
  width: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  text-align: center;
  transform: translateY(40px);
  transition: opacity 1s ease, transform 1s ease;
  background: linear-gradient(
    270deg,
    var(--background),
    var(--highlight),
    var(--section-bg)
  );
  background-size: 600% 600%;
  animation: gradientShift 12s ease infinite;
}

@keyframes gradientShift {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.about-box h2 {
  font-family: "Noto Serif";
  font-size: 40px;
  margin-bottom: 20px;
  color: var(--primary);
}

.about-box p {
  font-size: 17px;
  line-height: 1.6;
  color: var(--text-muted);
  max-width: 700px;
  margin: 0 auto 40px;
}

/* Formatting the elements into columns */
.values {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-items: center;
}

.values li {
  background-color: var(--background);
  font-family: "Noto Serif";
  width: 140px;
  height: 140px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--highlight);
  font-weight: 600;
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.values li i {
  font-size: 28px;
  color: var(--primary);
  margin-bottom: 10px;
}

.values li:hover {
  background-color: var(--border);
  transform: translateY(-3px);
  cursor: pointer;
}
